In [3]:
import pandas as pd

In [29]:
gujarati_tweets = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/gujarati_tweets.csv')

<ipython-input-29-5a8e1effdb21>:1: DtypeWarning: Columns (1,2,3,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  gujarati_tweets = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/gujarati_tweets.csv')

In [4]:
keywords = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/save.csv')

In [30]:
import numpy as np
count = 0
for i in keywords.iloc[:, 4]:
    if not pd.isna(i):
        count = count + len(gujarati_tweets[gujarati_tweets['text'].str.contains(i) == True]['text'])

In [10]:
for i in keywords.iloc[:,1]:
    print(i)

Hindi
COVID-19
à¤¸à¤¾à¤®à¤¾à¤œà¤¿à¤• à¤¦à¥‚à¤°à¥€
à¤«à¥‹à¤®à¤¾à¤‡à¤Ÿ
à¤®à¤¹à¤¾à¤®à¤¾à¤°à¥€
à¤®à¤¹à¤¾à¤®à¤¾à¤°à¥€
à¤ªà¥à¤°à¤•à¥‹à¤ª
à¤¸à¤¾à¤®à¥à¤¦à¤¾à¤¯à¤¿à¤• à¤«à¥ˆà¤²à¤¾à¤µ
à¤¸à¤‚à¤ªà¤°à¥à¤• à¤…à¤¨à¥à¤°à¥‡à¤–à¤£
à¤®à¤¾à¤°à¥à¤¶à¤² à¤²à¥‰
à¤•à¥à¤µà¤¾à¤°à¤‚à¤Ÿà¤¾à¤‡à¤¨
à¤¸à¥à¤ªà¤° à¤¸à¥à¤ªà¥à¤°à¥‡à¤¡à¤°
à¤…à¤²à¤—à¤¾à¤µ
à¤…à¤²à¤—à¤¾à¤µ
à¤¸à¤‚à¤•à¥à¤°à¤¾à¤®à¤•
à¤°à¥‹à¤— à¤«à¥ˆà¤²à¤¾à¤¨à¥‡à¤µà¤¾à¤²à¤¾
à¤µà¤¾à¤‡à¤°à¤¸
nan
nan
nan
nan
nan

In [88]:
import os
path = '/home/zam21003/tweets_collected_by_chiman'

In [75]:
files_list = os.listdir('/home/zam21003/tweets_collected_by_chiman')

In [84]:
import re
pattern = r'h.*'
hindi_files = [file for file in files_list if re.match(pattern, file)]

In [85]:
hindi_files

['hindi_tweets2.csv', 'hindi_tweets3.csv', 'hindi_tweets.csv']

In [12]:
hindi_tweets1 = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/hindi_tweets.csv')
hindi_tweets2 = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/hindi_tweets2.csv')
hindi_tweets3 = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/hindi_tweets3.csv')
dfs = [hindi_tweets1,hindi_tweets2,hindi_tweets3]

<ipython-input-12-5e92866d1033>:1: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  hindi_tweets1 = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/hindi_tweets.csv')
<ipython-input-12-5e92866d1033>:2: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  hindi_tweets2 = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/hindi_tweets2.csv')
<ipython-input-12-5e92866d1033>:3: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  hindi_tweets3 = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/hindi_tweets3.csv')

In [13]:
combined_df = pd.concat(dfs, ignore_index=True)

In [14]:
import numpy as np
hindi_count = 0
for i in keywords.iloc[:, 1]:
    if not pd.isna(i):
        hindi_count = hindi_count + len(combined_df[combined_df['text'].str.contains(i) == True]['text'])

In [15]:
hindi_count

421899

In [16]:
len(combined_df)

400253

In [20]:
for i in keywords.iloc[:,3]:
    print(i)

Persian
COVID 19
ÙØ§ØµÙ„Ù‡ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ
ÙÙˆÙ…ÛŒØª
Ø§Ù¾ÛŒØ¯Ù…ÛŒ
Ù¾Ø§Ù†Ø¯Ù…ÛŒ
Ø´ÛŒÙˆØ¹
nan
nan
nan
nan
Ø³ÙˆÙ¾Ø± Ø§Ø³Ù¾Ø±ÛŒØ¯Ø±
Ø§Ù†Ø²ÙˆØ§
Ø§ÛŒØ²ÙˆÙ„Ù‡ Ø³Ø§Ø²ÛŒ Ø´Ø®ØµÛŒ
Ù…Ø³Ø±ÛŒ
Ø¹ÙÙˆÙ†ÛŒ
ÙˆÛŒØ±ÙˆØ³
nan
nan
nan
nan
nan

In [17]:
persian_df = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/persian_tweets.csv')

In [24]:
import numpy as np
persian_count = 0
for i in keywords.iloc[:,3]:
    if not pd.isna(i):
        persian_count = persian_count + len(combined_df[combined_df['text'].str.contains(i) == True]['text'])

In [25]:
persian_count

1940

In [28]:
persian_df

,Unnamed: 0,author_id,tweet_id,username,author_followers,author_tweets,author_description,author_location,text,created_at,retweets,replies,likes,quote_count
0,0,1147279258831773696,1649079890560405504,hosseyn1988,71533.0,55128.0,Û±- Ø®ÛŒÙ„ÙŠ ÙˆÙ‚ØªØ§ ÙˆØ§Ù‚Ø¹Ø§Ù‹ Ù†Ù…ÛŒâ€ŒØ±Ø³Ù… Ù‡Ù…Û€ Ù¾ÛŒØ§Ù…Ø§ Ùˆ Ø¬ÙˆØ§Ø¨Ø§ ...,NaN,Ù†Ø¯Ø§Ù†Ø³Øª Ùˆ Ù†Ú¯ÙØªÙ… Ú©Ù‡ Ø§Ø² ÛŒÚ© Ø´Ø¨ Ø®ÙˆØ§Ø¨ Ø®ÙˆØ¯Ù… Ø²Ø¯Ù‡â€ŒØ§Ù… ØªØ§...,2023-04-20 15:57:38+00:00,2.0,1.0,759.0,0.0
1,1,1147279258831773696,1649079886198317057,hosseyn1988,71533.0,55128.0,Û±- Ø®ÛŒÙ„ÙŠ ÙˆÙ‚ØªØ§ ÙˆØ§Ù‚Ø¹Ø§Ù‹ Ù†Ù…ÛŒâ€ŒØ±Ø³Ù… Ù‡Ù…Û€ Ù¾ÛŒØ§Ù…Ø§ Ùˆ Ø¬ÙˆØ§Ø¨Ø§ ...,NaN,ÛŒØ§Ø±Ùˆ Ø³Ú¯â€ŒÚ©ÙØ´ Ù†Ø´Ø¯. Ø¹ÛŒÙ† Ø®Ø±Ø³ Ø®ÙˆØ§Ø¨ÛŒØ¯. Ù‡Ù…ÛŒÙ† Ø§Ù„Ø¢Ù†ØŒ ÛŒØ¹...,2023-04-20 15:57:37+00:00,2.0,2.0,766.0,0.0
2,2,828018189703356416,1649079604869750786,UnapologeticBug,1019.0,55767.0,ØªØ±Ø§Ù…Ù¾Ù‰ Ù‡Ø§ Ùˆ Ø§Ø±Ø²Ø´Ù‰ Ù‡Ø§ Ùˆ Ø³Ù„Ø·Ù†Øª Ø·Ù„Ø¨ Ù‡Ø§ Ùˆ Ù…Ø¬Ø§Ù‡Ø¯ Ù‡Ø§...,Ù‡Ù…ÛŒÙ† ÙˆØ±Ø§,Ø²Ø±Øª Ùˆ Ø²Ø±Øª ÙˆØ§Ø³Ù‡ Ø¹Ù„Ø§ÛŒÙ… Ù…Ø´Ú©ÙˆÚ© Ø¨Ù‡ Ú©Ø±ÙˆÙ†Ø§ Ø³ÛŒ ØªÛŒ Ø§Ø³Ú©Ù†...,2023-04-20 15:56:30+00:00,0.0,1.0,13.0,0.0
3,3,1055229709527773185,1649078528955281408,MiniMinor6,440.0,35046.0,Ø®Ø±Ø§Ø¨Ø´ Ú©Ø±Ø¯Ù… ØŒ Ú©Ù‡ Ø¹ÙÙ…Ø§Ø±Øª Ø¯Ø± Ø®Ø±Ø§Ø¨ÛŒ Ø§Ø³Øª!,NaN,@behnooshroozbeh Ø¨Ù„Ù‡ Ø§Ø³ÙÙ†Ø¯ Ù…Ø§Ù‡ Ú©Ø±ÙˆÙ†Ø§ Ú¯Ø±ÙØªÙ… ØªØ§Ø²...,2023-04-20 15:52:14+00:00,0.0,1.0,0.0,0.0
4,4,1553714903202107394,1649078496843399168,nadiiii333,3541.0,6495.0,ğŸ§ Psychiatry resident ğŸ§,333,ÛŒØ§Ø¯Ø´ Ø¨Ø®ÛŒØ± Ø¯ÙˆØ³Ø§Ù„ Ù¾ÛŒØ´ ØªÙˆØ§ÙˆØ¬ Ú©Ø±ÙˆÙ†Ø§\n Ú©Ø§Ø¯Ø± Ø¯Ø±Ù…Ø§Ù† Ù‡...,2023-04-20 15:52:06+00:00,0.0,2.0,43.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100347,100335,1518915141529702400,1614772792058060801,alpha_man_1981,32.0,406.0,Û´Û° ØªÙ‡Ø±Ø§Ù†,tehran,@fatemeniko_ Ø­Ø§Ù„Ø§ Ù…ØªØ§Ù‡Ù„ Ø´Ø¯Ù† Ø§Ù†Ù‚Ø¯Ø± Ù…Ù‡Ù…Ù‡ØŸØ§Ù„Ø§Ù† Ø¨Ø§...,2023-01-15 23:53:29+00:00,0.0,0.0,0.0,0.0
100348,100336,1065658304884547585,1614772573266485248,indypersian,274026.0,139624.0,Official account of the Independent Persian. Ø­...,"New York, USA",Ø¬Ù‡Ø§Ù† Ø¨Ø§Ø± Ø¯ÛŒÚ¯Ø± Ø¢Ù…Ø§Ø¯Ù‡ Ø¨Ø±Ú¯Ø²Ø§Ø±ÛŒ Â«Ù…Ø¬Ù…Ø¹ Ø§Ù‚ØªØµØ§Ø¯ Ø¬Ù‡Ø§Ù†ÛŒ...,2023-01-15 23:52:37+00:00,1.0,7.0,43.0,0.0
100349,100337,991235191,1614772476839620609,Saadi_Hafezian,278.0,51363.0,Ø­Ø§ÙØ¸ ØªÙˆ Ø®ØªÙ… Ú©Ù† Ú©Ù‡ Ù‡Ù†Ø± Ø®ÙˆØ¯ Ø¹ÛŒØ§Ù† Ø´ÙˆØ¯ Ø¨Ø§ Ù…Ø¯Ø¹ÛŒ Ù†Ø²Ø§...,NaN,@nikahang Ù…Ù† Ù‚Ø·Ø¹ÛŒ Ú¯Ø§Ø² Ø±Ùˆ Ø§Ø² Ø§Ù†ØªÙ‚Ø§Ù… Ø¬ÙˆÛŒÛŒ Ø®Ø§Ù…Ù†Ù‡ ...,2023-01-15 23:52:14+00:00,0.0,1.0,1.0,0.0
100350,100338,1583526637605474304,1614772362032857089,ariu79952071,76.0,1830.0,NaN,NaN,@m_maghsood @beehnam Ø§ÛŒÙ†Ø§ Ø§Ù†Ù‚Ø¯ Ù†Ø¬Ø³ Ù‡Ø³ØªÙ† Ùˆ ØªÙ…Ø§Ù…...,2023-01-15 23:51:46+00:00,0.0,0.0,0.0,0.0
100351,100339,1612202653219540993,1614771014453305346,threeKAF,0.0,138.0,Ø¨Ø±Ø§ÛŒ Ø§Ù†Ø§Ù† Ø³Ù‡ Ú©Ø§Ù Ù…Ù†Ø´ÙˆØ±ÛŒÙ… Ùˆ Ø¨Ø±Ø§ÛŒ ØªÙˆ Ú©Ø§ÙˆÙ‡ Ø§Ù‡Ù†Ú¯Ø±ØŒ...,NaN,Ø¨Ø§ Ú†Ù†Ø¯ Ù…ÛŒÙ„ÛŒÙˆÙ† Ú©Ø´ØªÙ‡ Ú©Ø±ÙˆÙ†Ø§ Ø¨Ø±Ø§ÛŒ Ø¯Ùˆ Ù†ÙØ± Ù†Ø¹Ù…Øª Ø§Ù„Ù‡ÛŒ...,2023-01-15 23:46:25+00:00,0.0,0.0,0.0,0.0

In [27]:
len(combined_df)

400253

In [32]:
mandarin = pd.read_csv('/home/zam21003/tweets_collected_by_chiman/mandarin_tweets.csv')

In [33]:
len(mandarin)

100393

In [34]:
mandarin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100393 entries, 0 to 100392
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          100393 non-null  object
 1   author_id           100138 non-null  object
 2   tweet_id            100155 non-null  object
 3   username            100155 non-null  object
 4   author_followers    100155 non-null  float64
 5   author_tweets       100155 non-null  float64
 6   author_description  83116 non-null   object
 7   author_location     56651 non-null   object
 8   text                100063 non-null  object
 9   created_at          100015 non-null  object
 10  retweets            100015 non-null  float64
 11  replies             100015 non-null  float64
 12  likes               100015 non-null  float64
 13  quote_count         100015 non-null  float64
dtypes: float64(6), object(8)
memory usage: 10.7+ MB

In [37]:
combined_df['created_at'] = pd.to_datetime(combined_df['created_at'], errors='coerce')

# Filter out NaT values
combined_df = combined_df.dropna(subset=['created_at'])

# Find the minimum and maximum dates in the dataframe
min_date = combined_df['created_at'].min()
max_date = combined_df['created_at'].max()

print("Data spans from {} to {}".format(min_date, max_date))

Data spans from 2022-04-10 14:30:32+00:00 to 2023-04-20 15:59:24+00:00

In [38]:
mandarin['created_at'] = pd.to_datetime(mandarin['created_at'], errors='coerce')

# Filter out NaT values
mandarin = mandarin.dropna(subset=['created_at'])

# Find the minimum and maximum dates in the dataframe
min_date = mandarin['created_at'].min()
max_date = mandarin['created_at'].max()

print("Data spans from {} to {}".format(min_date, max_date))

Data spans from 2023-02-24 12:49:26+00:00 to 2023-04-20 19:50:55+00:00

In [39]:
persian_df['created_at'] = pd.to_datetime(persian_df['created_at'], errors='coerce')

# Filter out NaT values
persian_df = persian_df.dropna(subset=['created_at'])

# Find the minimum and maximum dates in the dataframe
min_date = persian_df['created_at'].min()
max_date = persian_df['created_at'].max()

print("Data spans from {} to {}".format(min_date, max_date))

Data spans from 2023-01-15 23:46:25+00:00 to 2023-04-20 15:57:38+00:00

In [41]:
gujarati_tweets['created_at'] = pd.to_datetime(gujarati_tweets['created_at'], errors='coerce')

# Filter out NaT values
gujarati_tweets = gujarati_tweets.dropna(subset=['created_at'])

# Find the minimum and maximum dates in the dataframe
min_date = gujarati_tweets['created_at'].min()
max_date = gujarati_tweets['created_at'].max()

print("Data spans from {} to {}".format(min_date, max_date))

Data spans from 2009-06-19 23:37:45+00:00 to 2023-04-20 15:56:31+00:00

In [42]:
len(combined_df)

400239

In [54]:
nan_values = persian_df['text'].isnull().any()

In [58]:
combined_df['text'][0]

'@BJP4India @narendramodi @kpmaurya1 \n@SwamiPMaurya \n@Mayawati \n@AnupriyaSPatel \nà¤¦à¥‡à¤–à¤¤à¥‡ à¤¹à¥ˆà¤‚ à¤¦à¥‡à¤¶ à¤•à¤¾ à¤•à¥à¤·à¤¤à¥à¤°à¤¿à¤¯ à¤°à¤¾à¤œà¤ªà¥‚à¤¤ à¤¬à¥à¤°à¤¾à¤¹à¥à¤®à¤£à¥‹à¤‚ à¤•à¥‡ à¤šà¤‚à¤—à¥à¤² à¤¸à¥‡ à¤¨à¤¿à¤•à¤² à¤•à¤° à¤†à¤°à¥à¤¯à¥‹à¤‚ à¤¸à¥‡ à¤­à¥€ à¤—à¥Œà¤°à¤ªà¥‚à¤°à¥à¤£ à¤…à¤ªà¤¨à¤¾ à¤‡à¤¤à¤¿à¤¹à¤¾à¤¸ à¤•à¤¬ à¤¤à¤²à¤¾à¤¶à¤¤à¤¾ à¤¹à¥ˆ?\nhttps://t.co/Ai0G4mleQs\n@rajnathsingh\n@Gen_VKSingh @myogiadityanath\n@digvijaya_28 @nstomar\n@SanjayAzadSln https://t.co/oI8m8M4s4r'

In [61]:
combined_df.to_csv('/home/zam21003/tweets_collected_by_chiman/chindi_tweets.csv', index=False)